

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.productItem {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productItem:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productImage {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.productTitle {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
  font-weight: 500;
  height: 3rem; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productPrice {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.quantityInput {
  width: 60px;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.addToCartButton {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.addToCartButton:hover {
  background-color: #2b5d28;
}
